config VIDEO_TCCXX_HDMI_IN
	tristate "Telechips TCCXXX HDMI IN support (EXPERIMENTAL)"
	select VIDEOBUF_GEN
	select VIDEOBUF_DMA_SG
	select VIDEOBUF_VMALLOC
	depends on VIDEO_DEV
	help
	  V4L2 Analog HDMI IN driver support for TCCXXX.
	
config VIDEO_HDMI_IN_SENSOR
	tristate "HDMI_IN sensor support"
	depends on VIDEO_TCCXX_HDMI_IN
	help
	   atv sensor support

config VIDEO_HDMI_IN_SENSOR_EP9553T
	tristate "EP9553T HDMI_IN sensor support"
	depends on VIDEO_HDMI_IN_SENSOR
	help
	   atv sensor support for EP9553T













































 
