
on boot 

# create filesystems if necessary
service setup_fs /system/bin/setup_fs /dev/block/platform/bdm/by-num/p3 /dev/block/platform/bdm/by-num/p5
    class core
    user root
    group root
    oneshot


